@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Oswald:wght@200..700&display=swap');
.alert-container {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 1050; /* Ensure it's above other content */

}

.alert {
 margin: 0; /* Remove any default margin */
 border-radius: 0; /* Make sure the alert spans the full width */
 text-align: center; /* Center the text */
}

body {
 background-color: #30336b;
 margin-top: 90px;
 height: 100vh;
}
.card-custom {
 height: 100%; 
 width: 100%;  
}
.additional-box {
 height: 100%; 
 width: 100%;  
 background-color: #70a1ff; 
 color: #333; 
 display: flex; 
 align-items: center; 
 justify-content: center; 
 text-align: center; 
 font-size: 1.5rem; 
 flex-direction: column; 
 border-radius: 10px;
}
.form-container {
 background: #dfe6e9;
 padding: 15px;
 border-radius: 5px;
}
.form-container input {
 border: none; 
 border-bottom: 2px solid #333; 
 background: transparent;
 outline: none;
 width: 100%;
 padding: 10px; 
 box-sizing: border-box;
}
.form-container label {
 margin-bottom: 10px; 
}
h1{
 font-family: "Oswald", sans-serif;
 font-optical-sizing: auto;

}